{{define "index"}}
<html>
  <head>
    <title>Hummingbard - Decentralized communities for the future</title>
      <meta name="description" content="Matrix-powered communities.">
    {{template "common-head" .}}

  </head>
  <body>
    {{template "dark-mode" Map "Nonce" .Nonce "LoggedInUser" .LoggedInUser}}
    <div class="root">
      {{template "header" Map "Page" . "Name" "index"}}

      <div class="content-c ">

      <div class="ind-meta gr-default pv5 ph3">
        <div class="gr-center flex flex-column">

          <div class="flex flex-column tc">
            <div class="f2 bold">
              Hummingbard 
            </div>
            <div class="mt3 f4 bold tc lh-copy">Decentralized Communities For The Future</div>

            <div class="mt4 flex gr-center ">
              <div class="">
                <a href="/signup">
                  <button class="">Sign Up</button>
                </a>
              </div>
              <div class="ml2">
                <a href="/login">
                  <button class="light">Log In</button>
                </a>
              </div>
            </div>
            <div class="mt4 flex gr-center">
              <a href="/public"><span class="fs-09"><u>View Public Feed</u></span></a>
            </div>

          </div>


        </div>
      </div>


      </div>
      {{template "state" .}}
      <script defer nonce={{.Nonce}} src="{{ InsertJS "index" }}"></script>

    </div>
  </body>
</html>
{{end}}
