{{define "settings"}}
<html>
  <head>
    <title>Settings - Hummingbard</title>
      <meta name="description" content="Matrix-powered communities.">
    {{template "common-head" .}}

  </head>
  <body>
    {{template "dark-mode" Map "Nonce" .Nonce "LoggedInUser" .LoggedInUser}}
    <div class="base {{if .LoggedInUser}}base-l{{end}}">
      {{if .LoggedInUser}}
      {{template "nav" Map "Page" .}}
      {{end}}
      <div class="root">
        {{template "header" Map "Page" . "Name" "public"}}


        <div class="container scrl">
        <div class="content-c brd-lr ">
          <div class="col-c ">

            <div class=" pa3 brd-btm flex" style="height:60px;">
              <div class="gr-center">
                <span class="small bold">Account Settings</span>
              </div>
            </div>

            <div class="settings gr-default">
              <div class="lds-ring gr-center"><div></div><div></div><div></div><div></div></div>
            </div>

          </div>


        </div>
        {{template "state" .}}
        <script defer nonce={{.Nonce}} src="{{ InsertJS "settings" }}"></script>

      </div>
      </div>
    </div>
  </body>
</html>
{{end}}
