{{define "password-reset-confirm"}}
<html>
  <head>
    <title>Reset Password - Hummingbard</title>
    {{template "common-head" .}}
  </head>
  <body>
    {{template "dark-mode" Map "Nonce" .Nonce "LoggedInUser" .LoggedInUser}}
    <div class="root">
      {{template "header" Map "Page" . "Name" "signup"}}

      <div class="center-content signup">
        <div class="gr-center w-350px brd pa3">
        <div class="">
          <form class="flex flex-column" action="/password/reset/confirm"
            method="POST" autocomplete="off">
              <div class="mt3 flex flex-column">
                  <input class="" type="password" autofocus="autofocus"
                  name="password" minlength="8" placeholder="password">
              </div>
              <div class="mt3 flex flex-column">
                  <input class="" type="password" 
                  name="repeat" minlength="8" placeholder="repeat password">
                  <input class="" type="text" value={{.Code}} 
                  name="code" hidden>
                  <input class="" type="email" value={{.Email}} 
                  name="email" hidden>
              </div>

            <div class="mt3">
              <button class="dark-button-small no-sel" 
                      type="submit">
                Reset Password
              </button>
            </div>
          </form>
        </div>
        </div>
      </div>
      {{template "state" .}}

    </div>
  </body>
</html>
{{end}}
