{{define "signup"}}
<html>
  <head>
    <title>Sign Up - Hummingbard</title>
    {{template "common-head" .}}
  </head>
  <body>
    {{template "dark-mode" Map "Nonce" .Nonce "LoggedInUser" .LoggedInUser}}
    <div class="root">
      {{template "header" Map "Page" . "Name" "signup"}}

      <div class="center-content signup">
        <div class="gr-center w-350px brd pa3">
        <div class="">
          <form class="flex flex-column" action="/signup"
            method="POST" autocomplete="off">
              <div class="flex flex-column">
                  <input class="" type="text" name="email"
                  value={{.Email}}
                  name="email" placeholder="email" disabled>
              </div>
              <div class="mt3 flex flex-column">
                  <input class="" type="text"
                  minlength="3"
                  name="username" placeholder="username">
              </div>
              <div class="mt3 flex flex-column">
                  <input class="" type="password"
                  name="password" minlength="8" placeholder="password">
              </div>
              <div class="mt3 flex flex-column">
                  <input class="" type="password" 
                  name="repeat" minlength="8" placeholder="repeat password">
              </div>

              <script nonce={{.Nonce}}>
                let signupError = false;
                let signupDisabled = {{.RegistrationDisabled}}
                let signupEmail = {{.Email}}
              </script>
            <div class="mt3">
              <button class="dark-button-small no-sel" 
                      type="submit" {{if .RegistrationDisabled}}disabled{{end}}>
                Sign Up
              </button>
            </div>
          </form>
        </div>
        </div>
      </div>
      {{template "state" .}}
      <script defer nonce={{.Nonce}} src="{{ InsertJS "signup" }}"></script>

    </div>
  </body>
</html>
{{end}}
